<!doctype html>
<html>
<head>
  <title>PetPost</title>
</head>
<body>
  <h1>Add Adoptable Pet</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    Name: <input type="text" name="name"><br>
    Age: <input type="text" name="age"><br>
    Breed: <input type="text" name="breed"><br>
    Photo: <input type="file" name="photo"><br>
    <input type="submit" value="Upload">
  </form>

  <h2>Available Pets</h2>
  {% for pet in pets %}
    <div>
      <p><strong>{{ pet.name }}</strong> ({{ pet.age }} years old) - {{ pet.breed }}</p>
      <img src="{{ pet.image }}" width="200"><br><br>
    </div>
  {% endfor %}
</body>
</html>
